<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Positive Cases" thread-count="1" parallel="classes">

    <test name="register, service and purchase invoice, company, and export data Cases">

        <classes>
            <class name="TatvaCare.LoginTest"/>
            <class name="TatvaCare.HomeTest"/>
            <class name="TatvaCare.TatvaPediaTest"/>
           <class name="TatvaCare.PubmedTest"/>

        </classes>
    </test> <!-- Test -->




</suite> <!-- Suite -->
